 <!-- Footer -->
  <footer class="site-footer white" role="contentinfo">
    <div class="footer-bar">
      <div class="row">
        <div class="copyright">
          <div class="left location hide-on-small-only">
            View Source: <a href="https://github.com/tony-jones/portfolio-2015"><i class="fa fa-github"></i> GitHub</a>
          </div>
          <div class="left location hide-on-med-and-up">
            <a href="https://github.com/tony-jones/portfolio-2015"><i class="github-icon fa fa-github"></i></a>
          </div>
          <div class="right">
            <div class="waves-effect waves-black top-article">
              <a href="#back-to-top">TOP <i class="fa fa-caret-square-o-up"></i></a>
            </div>
            <div class="waves-effect waves-light next-article">
              <button id="articles-modal" rel="next" role="button" href="#modal3" class="articles modal-trigger waves-effect waves-light btn">Articles</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Recommended Articles Footer -->
  <div id="modal3" class="modal bottom-sheet">
    <div class="modal-content">
      <a href="#" title="close-modal" class="waves-effect close-arrow close-x close-button">
        <i class="fa fa-times"></i>
      </a>
      <h5 class="footer-title">Recommended Articles</h5>
       <div class="row">
         <ul class="collection">
         {% for post in site.posts limit:4  %}  <!-- add 'reversed' for ordering -->
          <div class="no-padding col s12 m6 l6">
            <div class="recommended">
              <a style="background-color: #fff;" class="recommended-a close-x" href="{{ site.baseurl }}{{ post.url }}">
                <li class="footer-articles waves-effect waves-dark collection-item avatar">
                <img src="{{ post.thumbnail_url }}" alt="thumbnail image for recommended articles" class="circle responsive-img">
                <span class="title grey-text">{{ post.title }}</span>
                <p class="{{ post.category }}">
                  {{ post.subtitle }}
                </p>
                <span class="footer-categories {{ post.category }}">
                  {{ post.category }}
                </span>
              </li>
             </a>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
