<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="author" content="Anthony Jones - @iamtonybagels">
  <meta name="keywords" content="" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% stylesheet styles/main %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
  <style>
    #page,footer {
      visibility:hidden;
      opacity:0;
      filter:alpha(opacity=0);
      -moz-transition:opacity 0.25s ease-in-out;
      -webkit-transition:opacity 0.25s ease-in-out;
      -o-transition:opacity 0.25s ease-in-out;
      -ms-transition:opacity 0.25s ease-in-out;
      transition:opacity 0.25s ease-in-out;
    }
    .wf-active #page,.wf-active footer {
      visibility:visible;
      opacity:1;
      filter:alpha(opacity=100);
    }
  </style>
</head>




    
 
