<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html id="skrollr-body">

  {% include head.html %}

  <body>
    <div id="page" class="hfeed site">
      <span id="back-to-top" class="section scrollspy"></span>
      <a class="skip-link screen-reader-text" href="#content"></a>

      {% include header.html %}

      <div id="content" class="site-content" style="margin-top: 125px;">
          {{ content }}
      </div>
      
      <div class="footer-padding"></div>
      {% include footer.html %}
   
    </div>

    {% javascript scripts/plugins/jquery-2.1.1.min.js %}
    {% javascript scripts/plugins/materialize.js %}
    {% javascript scripts/plugins/headroom.min.js %}
    {% javascript scripts/plugins/skrollr.min.js %}
    {% javascript scripts/main.js %}

    {% include footer_scripts.html %}
    
  </body>

</html>
